<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Vue</title>
    <style>
        ul {
            list-style: armenian;
        }
    </style>
</head>

<body>

</body>
<div id="miApp">

    <label for="add">Añadir a colección: </label><br>
    <input v-model="newItem" @keypress.enter="addToCollection" type="text" name="add" id="add">
    <p v-if="newItem">Nuevo: {{newItem}}</p>
    <ul>
        <li v-for="({tipo, titulo, ano}) in miColeccion">{{tipo}}: {{titulo}}
            <small>({{ano}})</small>
        </li>
    </ul>

    <h2>{{subtitulo}}</h2>
    <button v-on:click="metodo">Pulsa, pulsa</button>
</div>
<script src="app.js"></script>

</html>